@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #323a45;
}

/**********************header**************************/
header {
  margin: 6vh 0 6vh 0;
}

nav {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}

nav .logo {
  font-size: 1.4em;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

nav .logo:hover {
  color: #848484;
  transition: 0.2s;
}

nav ul {
  font-size: 1em;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  width: 40%;
  font-weight: 800;
}

nav ul li {
  transition: 0.3s;
  cursor: pointer;
}

nav ul li:hover {
  transition: 0.3s;
  color: #848484;
}

nav ul li:last-child {
  text-transform: uppercase;
}

/**********************main**************************/

.product_img_container {
  background-color: #f7f7f7;
  margin-bottom: 3vh;
}

.products .product_img_container {
  background-color: #eeeeee;
}

article {
  cursor: pointer;
}

article img {
  cursor: pointer;
  transition: 0.3s;
}

article:hover img {
  opacity: 0.2;
  cursor: pointer;
  transition: 0.3s;
}

/***backpack***/

.backpackImg {
  width: 100%;
}

.backpack {
  margin-bottom: 3vh;
}

.names {
  display: flex;
  justify-content: space-between;
}

.name p:first-child {
  font-weight: 700;
}
.name p:nth-child(2) {
  color: #848484;
}

.price {
  font-weight: 700;
}

.products {
  margin-top: 4vh;
  display: grid;
  gap: 3%;
  grid-template-columns: repeat(3, 1fr);
}

.product_img {
  width: 100%;
  padding-bottom: 2vh;
}

.bookSection {
  margin-top: 9vh;
}

.lampSection {
  margin-top: 9vh;
}

.magazinSection {
  margin-top: 9vh;
}

.bottlesSection {
  margin-top: 9vh;
}

/****************footer****************************/

.footerBar {
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.footerBar div {
  width: 100%;
}

.footerBar div:first-child {
  margin-right: 6%;
  width: 110%;
}

.footerBar div:nth-child(2) {
  width: 50%;
}

.footerBar div:nth-child(3) {
  margin-right: 2%;
}

.footerBar h2 {
  font-size: 1.2em;
  margin-bottom: 4vh;
}

.footerBar p {
  margin-bottom: 1vh;
  font-weight: 600;
  font-size: 1em;
}

strong {
  font-weight: 800;
}

.footerBar div a {
  color: #323a45;
  text-decoration: none;
  font-weight: 800;
}

.copyright {
  display: flex;
  font-size: 1.6em;
  align-items: center;
  gap: 1%;
  margin-top: 4vh;
  color: #848484;
}

.copyright span {
  font-size: 0.6em;
}

.spam {
  font-style: italic;
}

/******************************burgermenu****************************/

/***also das sollte burger menu werden ich weiss sieht kacke aus aber ich habs versucht***/
.cheeseburger {
  display: none;
  position: relative;
}

.cheeseburger .button_menu {
  display: none;
  flex-direction: column;
  gap: 5px;
}

.cheeseburger .button_menu .button_line {
  width: 40px;
  height: 5px;
  background-color: rgb(220, 24, 145);
}

.cheeseburger .button_menu .button_line:before {
  top: -10px;
  display: block;
  content: "";
  width: 40px;
  height: 5px;
  background-color: rgb(220, 24, 145);
  position: absolute;
}

.cheeseburger .button_menu .button_line:after {
  top: 10px;
  display: block;
  content: "";
  width: 40px;
  height: 5px;
  background-color: rgb(220, 24, 145);
  position: absolute;
}

.cheeseburger ul {
  transition: 0.3s;
  display: none;
  flex-direction: column;
}

.cheeseburger ul.active {
  transition: 0.3s;
  position: absolute;
  left: -150px;
  top: -20px;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.button_menu .button_line {
  transform: scale(1) translate(0px, -50%);
}

.button_menu.active .button_line:before {
  top: 210%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.button_menu.active .button_line:after {
  bottom: 210%;
  transform: rotate(45deg) translate(0px, 50%);
}

.button_menu.active .button_line {
  background-color: transparent;
}

/************************@media-query****************************************************/

@media (max-width: 1200px) {
  body {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  body {
    max-width: 768px;
    font-size: 0.8em;
  }
}

@media (max-width: 992px) {
  body {
    max-width: 768px;
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 576px;
    font-size: 0.6em;
  }
  .pc_navigation {
    display: none;
  }

  .cheeseburger {
    display: block;
  }
  .cheeseburger .button_menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 0.6em;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .footerBar div:nth-child(2) {
    width: 50%;
    margin-right: 6%;
  }

  .footerBar div:nth-child(3) {
    margin-right: 6%;
  }
}
